body {
  background: #25273f;
  font: 14px 'Nunito', sans-serif;
}

h2 {
  color: #020246;
  text-align: center;
  background-color: #646161;
  height: 1.5em;
}

label {
  margin: 1em;
  word-wrap: break-word;
  width: 70%;
}

[type= button] {
  margin: 0 2em;
}

.container {
  background-color: #bbb8b8;
  margin: 3.8em 20em;
}

.enter-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 1em;
  grid-auto-rows: 2em;
}

.task-list {
  padding: 1em;
  font-size: 1.5em;
  height: 300px;
  overflow: auto;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  border: 1px solid red;
}

.cross {
  cursor: pointer;
  color: #ff0000;
  font-size: 1.5em;
}

.cross:hover {
  color: #f15858;
}

.info {
  padding: 1em;
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

/* draggable */

.task-list {
  cursor: move;
}
.task-item.dragElem {
  opacity: 0.4;
}
.task-item.over {
  border: 2px dashed #000;
  border-top: 2px solid blue;
}